<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Currency Unit Test Suite">
        <directory>./currency/tests</directory>
        <directory>./currency_intl/tests</directory>
    </testsuite>
  </testsuites>
  <!-- Filter for coverage reports. -->
  <filter>
    <blacklist>
        <directory>./currency/tests</directory>
        <directory>./currency/src/Tests</directory>
        <directory>./currency_intl/src/Tests</directory>
        <directory>./currency_test</directory>
    </blacklist>
  </filter>
</phpunit>
